@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}
.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .left .icon_menu {
  cursor: pointer;
}
.header .left .input_search {
  border: 1px solid rgb(212, 218, 223);
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 6px;
}
.header .left .input_search input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.header .left .input_search svg {
  width: 20px;
}
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .right .btn_login_facebook {
  border: none;
  background-color: #100a2b;
  color: white;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 15px;
}
.header .right .btn_login_facebook i {
  font-size: 14px;
}
.header .right .nav_item {
  position: relative;
}
.header .right .nav_item .head {
  cursor: pointer;
}
.header .right .nav_item .head .lang {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.header .right .nav_item .head .img_profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.header .right .nav_item .head .icon svg {
  width: 20px;
  height: 20px;
}
.header .right .nav_item .list {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 15px;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 12px rgb(206, 208, 221);
          box-shadow: 5px 5px 12px rgb(206, 208, 221);
  min-width: 170px;
  z-index: 5;
  background-color: white;
  display: none;
}
.header .right .nav_item .list.active {
  display: block;
}
.header .right .nav_item .list.list2 {
  z-index: 15;
}
.header .right .nav_item .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
}
.header .right .nav_item .list .item:hover {
  color: #7356f1;
}
.header .right .nav_item .list .item:not(:last-child) {
  margin-bottom: 15px;
}
.header .right .nav_item .list .item img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.header .right .nav_item .list .title {
  font-size: 22px;
  font-weight: 500;
}
.header .right .nav_item .list .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header .right .nav_item .list .profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.header .right .nav_item .list .profile .text .name {
  font-weight: 500;
}
.header .right .nav_item .list .profile .text .position {
  color: #7356f1;
  font-size: 14px;
}
.header .right .nav_item .list .profile .text .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 15px;
  color: gray;
  margin-top: 4px;
}
.header .right .nav_item .list .btn_logout {
  padding: 5px;
  width: 100%;
  background-color: transparent;
  color: #7356f1 !important;
  border: 1px solid #7356f1;
  border-radius: 6px;
  display: block;
  margin-top: 15px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    padding: 5px 7px;
    background-color: white;
  }
  .header .left .input_search {
    display: none;
  }
  .header .right .notfication {
    display: none;
  }
}
.sidebar {
  padding: 30px 15px;
  background-color: #7356f1;
  color: white;
}
.sidebar.remove_elemnts .header_sidebar h1 {
  display: none;
}
.sidebar.remove_elemnts .links .link_item.active, .sidebar.remove_elemnts .links .link_item:hover {
  background-color: transparent;
}
.sidebar.remove_elemnts .links .link_item .text span {
  display: none;
}
.sidebar.remove_elemnts .links .link_item i {
  display: none;
}
.sidebar .header_sidebar {
  margin-bottom: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sidebar .header_sidebar h1 {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;
}
.sidebar .header_sidebar img {
  width: 35px;
}
.sidebar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.sidebar .links .link_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  cursor: pointer;
}
.sidebar .links .link_item:hover, .sidebar .links .link_item.active {
  background-color: #8f78f4;
  border-radius: 50px;
}
.sidebar .links .link_item:hover .text .icon, .sidebar .links .link_item.active .text .icon {
  background-color: white;
  color: #7356f1;
}
.sidebar .links .link_item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sidebar .links .link_item .text .icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar .links .link_item .text .icon svg {
  width: 28px;
  height: 28px;
}
.sidebar .links .link_item .text .icon i {
  font-size: 30px;
}
.sidebar .links .link_item .text span {
  font-weight: 600;
  font-size: 17px;
}
.sidebar .links .list {
  margin-left: 30px;
  margin-top: 3px;
  display: none;
}
.sidebar .links .list.open {
  display: block;
}
.sidebar .links .list li:not(:last-child) {
  margin-bottom: 8px;
}
.sidebar .links .list li i {
  font-size: 14px;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.708);
  z-index: 998;
  display: none;
}
.overflow.active {
  display: block;
}

.popup_login_facebook {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  margin: 0 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  z-index: 999;
  display: none;
}
.popup_login_facebook.active {
  display: block;
}
.popup_login_facebook .btn_close_login {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}
.popup_login_facebook form h3 {
  text-align: center;
  color: #0a061c;
  margin-top: 20px;
  margin-bottom: 30px;
}
.popup_login_facebook form .input_item {
  margin-bottom: 20px;
}
.popup_login_facebook form .input_item label {
  display: block;
  font-weight: 500;
}
.popup_login_facebook form .input_item input {
  width: 100%;
  border: 1px solid rgb(203, 203, 203);
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.popup_login_facebook form button {
  background-color: #7356f1;
  color: white;
  border: none;
  padding: 8px 25px;
  font-weight: 500;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.main_content_tables {
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.conetnt_table {
  margin: 40px 10px 0;
}
.conetnt_table .head_table {
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 10px rgb(234, 234, 234);
          box-shadow: 0 0 10px rgb(234, 234, 234);
  margin-bottom: 40px;
}
.conetnt_table .head_table .main_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.conetnt_table .head_table .main_head .input_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}
.conetnt_table .head_table .main_head .input_search input {
  background-color: transparent;
  border: none;
  outline: none;
}
.conetnt_table .head_table .main_head .input_search .icon {
  padding: 6px 10px;
  background-color: #7356f1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.conetnt_table .head_table .main_head .input_search .icon svg {
  width: 20px;
}
.conetnt_table .head_table .main_head .btn_export,
.conetnt_table .head_table .main_head .btn_import {
  border: none;
  background-color: #100a2b;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}
.conetnt_table .head_table .main_head .btn_export i,
.conetnt_table .head_table .main_head .btn_import i {
  font-size: 14px;
}
.conetnt_table .head_table .main_head .btn_import {
  background-color: #7356f1;
}
.conetnt_table .head_table .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.conetnt_table .head_table .info select {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  padding: 3px;
}
.conetnt_table .head_table .info .input_num input {
  width: 60px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  padding: 3px;
}
.conetnt_table .head_table .info .filter_box,
.conetnt_table .head_table .info .engagement_box {
  position: relative;
}
.conetnt_table .head_table .info .filter_box .btn_filter,
.conetnt_table .head_table .info .filter_box .btn_engagement,
.conetnt_table .head_table .info .engagement_box .btn_filter,
.conetnt_table .head_table .info .engagement_box .btn_engagement {
  border: none;
  background-color: #7356f1;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.conetnt_table .head_table .info .filter_box .list_filter,
.conetnt_table .head_table .info .filter_box .list_engagement,
.conetnt_table .head_table .info .engagement_box .list_filter,
.conetnt_table .head_table .info .engagement_box .list_engagement {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 15px;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 12px rgb(206, 208, 221);
          box-shadow: 5px 5px 12px rgb(206, 208, 221);
  min-width: 170px;
  z-index: 5;
  background-color: white;
  display: none;
}
.conetnt_table .head_table .info .filter_box .list_filter.active,
.conetnt_table .head_table .info .filter_box .list_engagement.active,
.conetnt_table .head_table .info .engagement_box .list_filter.active,
.conetnt_table .head_table .info .engagement_box .list_engagement.active {
  display: block;
}
.conetnt_table .head_table .info .filter_box .list_filter > span,
.conetnt_table .head_table .info .filter_box .list_engagement > span,
.conetnt_table .head_table .info .engagement_box .list_filter > span,
.conetnt_table .head_table .info .engagement_box .list_engagement > span {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
.conetnt_table .head_table .info .filter_box .list_filter .inputs_radio,
.conetnt_table .head_table .info .filter_box .list_engagement .inputs_radio,
.conetnt_table .head_table .info .engagement_box .list_filter .inputs_radio,
.conetnt_table .head_table .info .engagement_box .list_engagement .inputs_radio {
  margin-bottom: 10px;
}
.conetnt_table .head_table .info .filter_box .list_filter .inputs_radio .input_radio label,
.conetnt_table .head_table .info .filter_box .list_engagement .inputs_radio .input_radio label,
.conetnt_table .head_table .info .engagement_box .list_filter .inputs_radio .input_radio label,
.conetnt_table .head_table .info .engagement_box .list_engagement .inputs_radio .input_radio label {
  font-size: 15px;
  color: gray;
}
.conetnt_table .head_table .info .filter_box .list_filter .input_search,
.conetnt_table .head_table .info .filter_box .list_engagement .input_search,
.conetnt_table .head_table .info .engagement_box .list_filter .input_search,
.conetnt_table .head_table .info .engagement_box .list_engagement .input_search {
  overflow: hidden;
}
.conetnt_table .head_table .info .filter_box .list_filter .input_search input,
.conetnt_table .head_table .info .filter_box .list_engagement .input_search input,
.conetnt_table .head_table .info .engagement_box .list_filter .input_search input,
.conetnt_table .head_table .info .engagement_box .list_engagement .input_search input {
  padding: 3px 10px;
}
.conetnt_table .head_table .info .filter_box .list_filter .input_search button,
.conetnt_table .head_table .info .filter_box .list_engagement .input_search button,
.conetnt_table .head_table .info .engagement_box .list_filter .input_search button,
.conetnt_table .head_table .info .engagement_box .list_engagement .input_search button {
  border: none;
  background-color: #7356f1;
  color: white;
  padding: 5px 7px;
  font-size: 14px;
}
.conetnt_table .head_table .info .filter_box .list_engagement,
.conetnt_table .head_table .info .engagement_box .list_engagement {
  min-width: 170px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line,
.conetnt_table .head_table .info .engagement_box .list_engagement .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line:not(:last-child),
.conetnt_table .head_table .info .engagement_box .list_engagement .line:not(:last-child) {
  margin-bottom: 7px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line > div,
.conetnt_table .head_table .info .engagement_box .list_engagement .line > div {
  width: 50%;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line .input_check,
.conetnt_table .head_table .info .engagement_box .list_engagement .line .input_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line .input_check label,
.conetnt_table .head_table .info .engagement_box .list_engagement .line .input_check label {
  font-size: 15px;
  color: gray;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line .setting,
.conetnt_table .head_table .info .engagement_box .list_engagement .line .setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-weight: 500;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line .setting i,
.conetnt_table .head_table .info .engagement_box .list_engagement .line .setting i {
  font-size: 12px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .line .setting span,
.conetnt_table .head_table .info .engagement_box .list_engagement .line .setting span {
  font-size: 14px;
}
.conetnt_table .head_table .info .filter_box .list_engagement .mini_title,
.conetnt_table .head_table .info .engagement_box .list_engagement .mini_title {
  font-weight: 500;
  font-size: 15px;
}
.conetnt_table .container_table {
  margin-top: 30px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgb(234, 234, 234);
          box-shadow: 0 0 10px rgb(234, 234, 234);
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_length label {
  font-weight: 500;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_length label select {
  border: 1px solid rgb(219, 219, 219);
  padding: 7px;
  border-radius: 8px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_filter label {
  font-weight: 600;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_filter input {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 6px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_scrollBody {
  border-bottom: 0;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar {
  height: 7px;
  background-color: #f5f5f5;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_scrollBody:hover:-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(225, 225, 225);
}
.conetnt_table .container_table .dataTables_wrapper table.no-footer {
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
}
.conetnt_table .container_table .dataTables_wrapper table thead th {
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
}
.conetnt_table .container_table .dataTables_wrapper table tbody td {
  border-top: 1px solid rgba(170, 170, 170, 0.3);
  color: rgb(129, 129, 129);
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_info {
  font-weight: 500;
  margin-top: 15px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 10px 0;
  margin-top: 15px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .first {
  display: none;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .last {
  display: none;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .previous,
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .next {
  padding: 5px 15px;
  background-color: white;
  border-radius: 7px;
  color: #7356f1 !important;
  font-weight: 500;
  margin: 0 10px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .previous:hover,
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .next:hover {
  background: none;
  background-color: white !important;
  color: #7356f1 !important;
  border: none;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate span .paginate_button {
  color: #7356f1 !important;
  font-weight: 500;
  padding: 5px 15px;
}
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate span .paginate_button.current, .conetnt_table .container_table .dataTables_wrapper .dataTables_paginate span .paginate_button:hover {
  background: none;
  background-color: #7356f1;
  color: white !important;
  border: none;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .conetnt_table {
    margin: 20px 10px 0;
  }
  .conetnt_table .head_table {
    padding: 8px;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .conetnt_table .head_table .input_search .icon {
    padding: 5px 8px;
  }
  .conetnt_table .head_table .input_search .icon svg {
    width: 19px;
  }
  .conetnt_table .head_table .input_search input {
    font-size: 14px;
  }
  .conetnt_table .head_table .info {
    gap: 10px;
  }
  .conetnt_table .head_table .info select {
    padding: 2px;
    font-size: 14px;
  }
  .conetnt_table .head_table .info .input_num input {
    padding: 2px;
    font-size: 14px;
    width: 45px;
  }
  .conetnt_table .head_table .info .filter_box .btn_filter,
.conetnt_table .head_table .info .filter_box .btn_engagement,
.conetnt_table .head_table .info .engagement_box .btn_filter,
.conetnt_table .head_table .info .engagement_box .btn_engagement {
    padding: 3px 8px;
    font-size: 13px;
  }
  .conetnt_table .head_table .info .btn_login_facebook {
    padding: 3px 8px;
    font-size: 13px;
  }
  .conetnt_table .container_table {
    padding: 8px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_length label {
    font-size: 14px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_length label select {
    padding: 4px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_filter label {
    font-size: 14px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_filter label input {
    border-radius: 4px;
    padding: 1px;
  }
  .conetnt_table .container_table .dataTables_wrapper table thead th {
    font-size: 14px;
    padding: 5px;
  }
  .conetnt_table .container_table .dataTables_wrapper table tbody td {
    font-size: 14px;
    padding: 5px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_info {
    margin-top: 5px;
    padding-top: 5px;
    font-size: 14px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
    padding: 5px 0;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .previous,
.conetnt_table .container_table .dataTables_wrapper .dataTables_paginate .next {
    padding: 3px 10px;
    font-size: 14px;
  }
  .conetnt_table .container_table .dataTables_wrapper .dataTables_paginate span .paginate_button {
    font-size: 13px;
    padding: 3px 10px;
  }
}
.login {
  height: 100vh;
}
.login .line {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login .line .left {
  width: 60%;
  background-color: #bfb4f0;
}
.login .line .left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 20px 10px 10px;
}
.login .line .left .logo img {
  width: 50px;
}
.login .line .left .logo h1 {
  font-size: 28px;
}
.login .line .left .image {
  text-align: center;
  height: calc(100vh - 74px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login .line .left .image img {
  width: 60%;
}
.login .line .right {
  width: 40%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login .line .right form .text {
  text-align: center;
  margin-bottom: 30px;
}
.login .line .right form .text h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  color: #0f0a25;
}
.login .line .right form .text span {
  font-size: 17px;
  color: gray;
}
.login .line .right form .input_item {
  margin-bottom: 20px;
}
.login .line .right form .input_item label {
  display: block;
  font-size: 17px;
  font-weight: 500;
}
.login .line .right form .input_item input {
  outline: none;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  background-color: transparent;
}
.login .line .right form .btn_login {
  padding: 8px 20px;
  width: 100%;
  border: none;
  background-color: #7356f1;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 768px) {
  .login .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login .line .left {
    width: 100%;
    height: 6%;
  }
  .login .line .left .logo {
    padding: 10px;
  }
  .login .line .left .logo img {
    width: 30px;
  }
  .login .line .left .logo h1 {
    font-size: 22px;
  }
  .login .line .left .image {
    display: none;
  }
  .login .line .right {
    width: 100%;
    height: 90%;
  }
  .login .line .right form {
    width: 100%;
  }
  .login .line .right form .text h3 {
    font-size: 23px;
  }
  .login .line .right form .text span {
    font-size: 15px;
  }
  .login .line .right form .input_item {
    margin-bottom: 10px;
  }
  .login .line .right form .input_item label {
    font-size: 15px;
  }
  .login .line .right form .input_item input {
    padding: 2px 10px;
  }
  .login .line .right form .btn_login {
    padding: 5px 10px;
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f1f5f9 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

svg {
  width: 25px;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .sidebar {
  width: 20%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main .sidebar.close_sidebar {
  width: 70px;
}
main .content_page {
  width: 80%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 10px;
}
main .content_page.close_sidebar {
  width: 95%;
}

@media (max-width: 768px) {
  main .overflow_sidebar {
    position: fixed;
    bottom: 0;
    left: -100%;
    height: calc(100% - 45px);
    z-index: 998;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.758);
  }
  main .overflow_sidebar.active {
    left: 0;
  }
  main .sidebar {
    width: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100% - 45px);
    z-index: 999;
  }
  main .sidebar.close_sidebar {
    position: fixed;
    left: -100%;
    width: 0;
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  main .content_page {
    width: 100%;
    margin-left: 0;
  }
  main .content_page.close_sidebar {
    width: 100%;
  }
}