@use "../components/header";
@use "../components/sidebar";
@use "../components/popups";
@use "../pages/index";
@use "../pages/handle-table";
@use "../pages/login";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #f1f5f9 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

svg {
  width: 25px;
}

// start main
main {
  height: 100vh;
  display: flex;

  .sidebar {
    width: 20%;
    transition: all 0.3s;

    &.close_sidebar {
      width: 5%;
    }
  }

  .content_page {
    width: 80%;
    transition: all 0.3s;
    margin-left: 10px;

    &.close_sidebar {
      width: 95%;
    }
  }
}

// end main
