$main-color: #7356f1;

// start conetnt_table
.main_content_tables {
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.conetnt_table {
  margin: 40px 10px 0;

  .head_table {
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(234, 234, 234);
    margin-bottom: 40px;

    .input_search {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 5px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
      }

      .icon {
        padding: 6px 10px;
        background-color: $main-color;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 15px;

      select {
        border: 1px solid rgb(213, 213, 213);
        border-radius: 5px;
        padding: 3px;
      }

      .input_num {
        input {
          width: 60px;
          border: 1px solid rgb(213, 213, 213);
          border-radius: 5px;
          padding: 3px;
        }
      }

      .filter_box,
      .engagement_box {
        position: relative;
        .btn_filter,
        .btn_engagement {
          border: none;
          background-color: $main-color;
          color: white;
          border-radius: 5px;
          padding: 6px 10px;
        }

        .list_filter,
        .list_engagement {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 15px;
          border-radius: 6px;
          box-shadow: 5px 5px 12px rgb(206, 208, 221);
          min-width: 170px;
          z-index: 5;
          background-color: white;
          display: none;

          &.active {
            display: block;
          }

          > span {
            font-weight: 500;
            display: block;
            margin-bottom: 5px;
          }

          .inputs_radio {
            margin-bottom: 10px;

            .input_radio {
              label {
                font-size: 15px;
                color: gray;
              }
            }
          }

          .input_search {
            overflow: hidden;
            input {
              padding: 3px 10px;
            }

            button {
              border: none;
              background-color: $main-color;
              color: white;
              padding: 5px 7px;
              font-size: 14px;
            }
          }
        }

        .list_engagement {
          min-width: 170px;

          .line {
            display: flex;
            align-items: center;
            gap: 20px;

            &:not(:last-child) {
              margin-bottom: 7px;
            }

            > div {
              width: 50%;
            }

            .input_check {
              display: flex;
              align-items: center;
              gap: 5px;
              label {
                font-size: 15px;
                color: gray;
              }
            }

            .setting {
              display: flex;
              align-items: center;
              gap: 5px;
              font-weight: 500;

              i {
                font-size: 12px;
              }

              span {
                font-size: 14px;
              }
            }
          }

          .mini_title {
            font-weight: 500;
            font-size: 15px;
          }
        }
      }

      .btn_login_facebook {
        border: none;
        background-color: #100a2b;
        color: white;
        border-radius: 5px;
        padding: 6px 10px;
      }
    }
  }

  .container_table {
    margin-top: 30px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(234, 234, 234);

    .dataTables_wrapper {
      .dataTables_length {
        label {
          font-weight: 500;

          select {
            border: 1px solid rgb(219, 219, 219);
            padding: 7px;
            border-radius: 8px;
          }
        }
      }

      .dataTables_filter {
        label {
          font-weight: 600;
        }

        input {
          border: 1px solid rgb(223, 223, 223);
          border-radius: 6px;
        }
      }

      .dataTables_scrollBody {
        border-bottom: 0;
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          height: 7px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: transparent;
        }

        &:hover {
          &:-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgb(225, 225, 225);
          }
        }
      }

      table {
        &.no-footer {
          border-bottom: 1px solid rgb(170 170 170 / 30%);
        }

        thead {
          th {
            border-bottom: 1px solid rgb(170 170 170 / 30%);
          }
        }

        tbody {
          td {
            border-top: 1px solid rgb(170 170 170 / 30%);
            color: rgb(129 129 129);
          }
        }
      }

      .dataTables_info {
        font-weight: 500;
        margin-top: 15px;
      }

      .dataTables_paginate {
        background: #f4f4f4;
        border-radius: 8px;
        padding: 10px 0;
        margin-top: 15px;

        .first {
          display: none;
        }

        .last {
          display: none;
        }

        .previous,
        .next {
          padding: 5px 15px;
          background-color: white;
          border-radius: 7px;
          color: $main-color !important;
          font-weight: 500;
          margin: 0 10px;

          &:hover {
            background: none;
            background-color: white !important;
            color: $main-color !important;
            border: none;
          }
        }

        span {
          .paginate_button {
            color: $main-color !important;
            font-weight: 500;
            padding: 5px 15px;

            &.current,
            &:hover {
              background: none;
              background-color: $main-color;
              color: white !important;
              border: none;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
// end conetnt_table
